@{
    ViewBag.Title = "Complete";
}
<h2>Complete CheckOut</h2>

<p>Thanks for your order! Your Number is @Model</p>
<P>How about shopping for some more music in our @Html.ActionLink("store","Index","Store")</P>

